@{
    Layout = null;   
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Store</title>
</head>
<body ng-controller="Home as home">
    <h1>Sports Store</h1>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in home.products">
                <td>{{product.name}}</td>
                <td>{{product.price | currency:"£"}}</td>
            </tr>
        </tbody>
    </table>

    <!-- Third Party Libraries -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/App/app.module.js"></script>
    <script src="~/App/Home/home.controller.js"></script>
</body>
</html>
