@{
    Layout = null;   
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Store</title>
</head>
<body ng-controller="Home as home">
    <h1>Sports Store</h1>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in home.products">
                <td>{{product.name}}</td>
                <td>{{product.price | currency:"£"}}</td>
            </tr>
        </tbody>
    </table>
    
    <h2>Add New Product</h2>
    
    <form ng-submit="home.submit()">
        Enter Name and Price:
        <input type="text" ng-model="home.name" name="name" />
        <input type="number" min="0" step="0.01" ng-model="home.price" name="price" />
        <input type="submit" id="submit" value="Add" />
    </form>

    <!-- Third Party Libraries -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/App/app.module.js"></script>
    <script src="~/App/Home/home.controller.js"></script>
</body>
</html>
